.container {
    height: 100vh;
    width: 100wh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;

}
.grid{
    width: 300px;
    height: 300px;
}
input{
    color: indigo;
}

.numbers {
    background: white;
    border:1px solid indigo;

}
.numbers button{
    font-size: 1.5em;
}
.numbers button:hover{
    font-size: 1.7em;
}
.example-form-field {
    width: 200px;
  }

.grid button {
    width: 100px;
    height: 100px;
}
.action-buttons{
    position: absolute;
    margin-top: 250px;
}   


.animate-icon {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-animation: shaking 0.1s linear alternate 10;
    animation: shaking 0.1s linear alternate 10;
  }
  
  @keyframes shaking {
    0% {
      -webkit-transform: rotate(-10deg);
      transform: rotate(-10deg);
    }
  
    100% {
      -webkit-transform: rotate(10deg);
      transform: rotate(10deg);
    }
  }