<div class="container">
  <div>
      <mat-form-field #fieldInput  class="example-form-field" appearance="fill">
        <mat-label>Combinaison</mat-label>
        <mat-hint >{{info}}</mat-hint>
        <input  matInput type="text" maxlength ="4" [(ngModel)]="inputList" >
        <mat-icon id="animate-icon" class=""matSuffix *ngIf="!valid">lock</mat-icon>
        <mat-icon matSuffix *ngIf="valid" color="primary" fill="blue">check_circle</mat-icon>
        
      </mat-form-field>
  </div>
  
  <div>
    <mat-grid-list class="grid" cols="3">
      <mat-grid-tile *ngFor="let button of buttons" class="numbers"><button mat-button color="primary" (click)="addNumber(button)">{{button}}</button></mat-grid-tile>
    </mat-grid-list>
  </div>
    

  <div class="action-buttons">
    <button mat-raised-button color="primary" [disabled]="!buttonState" (click)="Check()">Send code</button>
    <button mat-button color="primary" (click)="Clear()">Clear</button>
  </div>
</div>

